/* About Section */
.about-section {
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 90vw;
    background-color: #121212;
    color: #f0f0f0;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    text-align: center;
    animation: fadeInUp 1s ease-out;

}

.about-section h2 {
    font-size: 2.8rem;
    margin-bottom: 30px;
    color: #ff6f61; /* Color from Skills Page */
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    animation: slideIn 1s ease-out;
}

/* Education and Experience */
.education-experience {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    animation: fadeIn 1s ease-out;
}

.section {
    flex: 1;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 45%;
    min-width: 280px;
}

.section:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.section h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ff6f61; /* Color from Skills Page */
    font-weight: 700;
}

.icon {
    margin-right: 10px;
    vertical-align: middle;
    color: #ff826d; /* Color from Skills Page */
}

.item {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #f0f0f0;
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}



/* Keyframe Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.animate-on-scroll.in-view {
    opacity: 1;
    transform: translateY(0);
}
